<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UI_Automation_Smoke_Suite" >
	<listeners>
		<listener class-name="utilities.ListenerUtils"></listener>
	</listeners>
  
	<test name="Test">
		<parameter name="test_type" value="tests.ui"/>
    		<parameter name="browser" value="chrome"/>
			<parameter name="environment" value="qa"/>
<!--    		<groups>-->
<!--    			<run>-->
<!--    				<include name="tests.ui"/>-->
<!--    			</run>-->
<!--    		</groups>-->
    		<classes>
      			<class name="tests.ui.AccountTest"/>
    		</classes>
  	</test> <!-- Test -->
</suite> <!-- UI_Automation_Smoke_Suite-->
